.material-symbols-outlined {
    font-size: 28px;
    color: white;
    transition: transform 0.3s ease;
    margin: 10px;
}

.open .material-symbols-outlined {
    transform: rotate(180deg);
}

.collapse {
    width: 100%;
    margin-bottom: 10px;
    

    &_header {
        color: white;
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        border-radius: 5px;
    }

    &_content {
        font-size: 18px;
        font-weight: 400;
        padding: 0 10px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
  
        &.open {
            max-height: 100%; 
            background-color: #F6F6F6; 
        }
    }
}
@media (max-width: 426px) {
    .collapse {
        &_header h2 {
            font-size: 13px;
            height: 30px;
            margin: 0;
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_content {
            font-size: 12px;
        }
    }
    .material-symbols-outlined {
        margin: 0;
    }
}