.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_404 {
        font-size: 288px;
        color: #FF6060;
    }

    &_oups {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
    }

    &_link {
        font-size: 18px;
        font-weight: 500;
        color: black;
    }
    
}