@import 'header';
@import 'footer';
@import 'banner';
@import 'card';

.home {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  max-width: 1220px;
  gap: 20px;
  width: 100%;
  margin: 50px auto;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 30px; 
  box-sizing: border-box;
}


:root {
  font-family: Montserrat, sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}
@media (max-width: 374px) {
  /*
  .cards-list {
      grid-template-columns: 1fr;  // Одна колонка карточек
      gap: 20px;  // Уменьшаем отступы между карточками
      padding: 0;  // Уменьшаем внутренние отступы
      border-radius: 10px;  // Скругляем углы сильнее
  }

  .header_nav a {
      font-size: 12px;  // Уменьшаем размер шрифта для навигации
      margin-left: 25px;
  }

  .header_logo {
      width: 145px;  // Уменьшаем размер логотипа
      height: auto;
  }

  .banner {
      height: 111px;  // Уменьшаем высоту баннера
      font-size: 20px;  // Уменьшаем размер текста в баннере
  }

  footer {
      padding: 15px;  // Уменьшаем отступы в футере
      text-align: center;
  }

  footer p {
      font-size: 12px;  // Мелкий текст в футере
  }*/
}